.box {
    width: 600px;
    height: 500px;
    border: solid;
    border-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    height: auto;
    width: 100%;
}
.citysearch {
    height: 20px;
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.row {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}
.searchbar {
    margin-top: 30px;
    height: fit-content;
    display: flex;
    align-items: center;
}
.submit {
    margin-left: 20px;
    height: 30px;
}
.searchbarinput {
    height: 30px;

}